.section {
  height: calc(100% - 68px);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";

    width: 300px;
    height: 300px;

    position: absolute;
    left: -60px;
    bottom: -60px;

    opacity: 0.3;
    rotate: 90deg;

    background-image: url("../../assets/raimbow.png");
    background-size: 300px 300px;
  }

  .logoRaimbow {
    width: 350px;
    margin-top: 30px;
    opacity: 0.5;
  }
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  align-items: center;
}

.container {
  max-width: 50%;
  margin-inline: 60px;
  margin-top: -2%;

  .title {
    font-size: 3.3rem;
    font-weight: 800;
    padding-bottom: 20px;
    line-height: 3.5rem;
    max-width: 85%;
  }

  .description {
    font-size: 1.8rem;
    font-family: "Abel";
  }

  .reserveContainer {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    text-align: center;

    .titleReserve {
      padding-top: 80px;
      font-size: 2rem;
      font-weight: 600;
    }

    .buttonReserve {
      justify-self: center;
      align-self: center;
      margin-top: 30px;
      width: 200px;
      color: #2c2c2c;
      padding: 0.8rem 1.8rem;
      border: none;
      border-radius: 1rem;
      background-color: #fff8e1;
      font-size: 1.5rem;
      font-family: "Abel";
      font-weight: 500;
      box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1100px) {
  .section {
    flex-direction: column;
    overflow: auto;

    &::after {
      content: "";
      width: 250px;
      height: 250px;
      position: fixed;
      background-size: 100%;
    }

    .logoRaimbow {
      width: 200px;
    }
  }

  .reviewContainer {
    margin-top: 4rem;
    width: 100%;
  }

  .container {
    min-width: 90%;
    margin-top: 10%;

    .title {
      font-size: 2.5rem;
    }

    .description {
      font-size: 1.3rem;
    }

    .reserveContainer {
      min-width: 100%;

      .titleReserve {
        padding-top: 50px;
        font-size: 1.7rem;
        text-align: center;
      }

      .buttonReserve {
        width: 200px;
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .section {
    flex-direction: column;
    overflow: auto;

    &::after {
      content: "";
      width: 220px;
      height: 220px;
      opacity: 0.3;
      z-index: -1;
    }

    .logoRaimbow {
      width: 150px;
    }
  }

  .reviewContainer {
    margin-top: 4rem;
  }

  .container {
    margin: 0px;
    margin-top: 40px;

    .title {
      font-size: 1.5rem;
      line-height: 1.4;
    }

    .description {
      font-size: 1.1rem;
    }

    .reserveContainer {
      min-width: 100%;

      .titleReserve {
        padding-top: 40px;
        font-size: 1.3rem;
        text-align: center;
      }

      .buttonReserve {
        width: 170px;
        font-size: 1rem;
      }
    }
  }
}
