.section {
  height: calc(100% - 68px);
  display: flex;
  align-items: center;
}

.container {
  max-width: 50%;
  margin-inline: 60px;
  margin-top: -2%;

  .title {
    font-size: 3.3rem;
    font-weight: 800;
    padding-bottom: 20px;
    line-height: 3.5rem;
    max-width: 85%;
  }

  .description {
    font-size: 1.8rem;
    font-family: "Abel";
  }

  .reserveContainer {
    display: flex;
    flex-direction: column;
    max-width: 75%;

    .titleReserve {
      padding-top: 80px;
      font-size: 2rem;
      font-weight: 600;
    }

    .buttonReserve {
      justify-self: center;
      align-self: center;
      margin-top: 30px;
      width: 200px;
      color: #2c2c2c;
      padding: 0.8rem 1.8rem;
      border: none;
      border-radius: 1rem;
      background-color: #fff8e1;
      font-size: 1.5rem;
      font-family: "Abel";
      font-weight: 500;
      box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
  }
}
