.cardContainer {
  width: calc((100% - 100px) / 3);
  background-color: white;
  border-radius: 15px;
  list-style: none;
  padding: 40px;
  flex: 0 0 calc((100% - 100px) / 3);

  scroll-snap-align: start;

  .cardPhotoContainer{
    display: block;
    margin: 0 auto;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    
    .cardPhoto {
      width: 100%;
      height: 100%;      
      object-fit:  cover;
    }
  }

  .cardName {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 32px;
    max-width: 70%;
  }

  .cardInfoContainer {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding: 0px;
    padding-top: 20px;

    li {
      display: flex;
      align-items: center;
      width: 100%;

      span {
        font-family: "Abel", sans-serif;
        font-size: 1.2rem;
        display: block;
        margin: 0 auto;
      }
    }
  }
} 
  