.headerContainer {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;

  .hamburguer {
    position: fixed;
    bottom: 25px;
    right: 25px;

    cursor: pointer;
    font-size: 1.7rem;

    background-color: rgba(255, 255, 255, 0.805);
    padding: 20px;
    border-radius: 20px;

    cursor: pointer;
    z-index: 2;
    transition: transform 0.5s ease;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    &:hover {
      transform: scale(1.1);
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .hamburguerClosed {
    display: none;
  }
}

.logoContainer {
  display: flex;
  gap: 20px;
  align-items: center;

  .logoImg {
    width: 80px;
    height: 40px;
  }

  .logoTitle {
    font-weight: 300;
  }
}

.navContainer {
  display: flex;
  color: white;
  background-color: rgba(67, 67, 67, 0.85);
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.8s ease;
  padding: 10px;

  .closeIcon {
    display: none;
  }

  .ulContainer {
    display: flex;
    list-style: none;
    gap: 5px;
    padding: 0px 10px 0px 15px;
    align-items: center;

    .navLink {
      font-weight: 200;
      padding: 5px 20px;
      color: white;
      text-decoration: none;
    }

    .active {
      background-color: rgba(44, 44, 44, 0.7);
      border-radius: 5px;

      -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .navLink:hover {
      background-color: rgba(44, 44, 44, 0.7);
      border-radius: 5px;
    }
  }
}

.closed {
  opacity: 0;
  transform: translateX(-100%);
}

@media screen and (max-width: 830px) {
  .logoContainer {
    margin-left: 20px;
    gap: 10px;

    .logoImg {
      width: 60px;
      height: 30px;
    }

    .logoTitle {
      font-size: 1.5rem;
    }
  }

  .hamburguerClosed {
    display: none;
  }

  .navContainer {
    div {
      display: none;
    }
  }
}

@media screen and (max-width: 770px) {
  .headerContainer {
    justify-content: center;

    .logoContainer {
      .logoImg {
        width: 60px;
        height: 30px;
      }

      .logoTitle {
        font-size: 1.7rem;
      }
    }
  }

  .navContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 0px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(44, 44, 44, 0.95);
    z-index: 2;

    .closeIcon {
      display: flex;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 90%;
      padding-top: 20px;

      top: 0px;

      span {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.4rem;
        padding-left: 10px;
      }

      svg {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    .ulContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 70px;

      li {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .navLink {
        font-weight: 300;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
      }

      .active {
        background-color: rgba(75, 75, 75, 0.8);
      }

      .navLink:hover {
        background-color: rgba(75, 75, 75, 0.8);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .headerContainer {
    padding-inline: 0px;

    .logoContainer {
      gap: 10px;

      .logoImg {
        width: 60px;
        height: 30px;
      }

      .logoTitle {
        font-size: 1.7rem;
      }
    }
  }
}
