.container {
  display: flex;
  align-items: center;
  font-family: "Abel";
  color: black;

  .arrow {
    width: 3.2rem;
    cursor: pointer;
  }

  .arrowLeft {
    transform: scaleX(-1);
  }

  .arrowLeft:active {
    transform: translate(0, 0.1rem) scaleX(-1);
  }

  .arrowRight:active {
    transform: translate(0, 0.1rem);
  }

  .reviewContainer {
    background-color: #faf9f6;
    border-radius: 1rem;
    width: 37svw;
    min-height: 30svh;

    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);

    .reviewUpperContainer {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .infoUser {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 20px;
        padding-top: 20px;
        padding-left: 30px;

        .reviewName {
          font-size: 1.8rem;
        }

        .avatar {
          width: 50px;
        }
      }

      .reviewDate {
        padding-top: 20px;
        padding-right: 30px;
        font-size: 1.3rem;
      }
    }

    .reviewComment {
      min-height: 15svh;
      height: fit-content;
      padding: 1.8rem 2rem 0 2rem;
      font-size: 1.5rem;
      width: 90%;
    }

    .reviewStars {
      display: flex;
      justify-content: end;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 10px;

      img {
        aspect-ratio: 1/1;
        width: 2.3rem;
        height: 2.3rem;
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
