.section {
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    background-image: url("./images/puzzle1.png");

    background-size: 400px 400px;
    background-position: -7% 120%;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    width: 250px;
    height: 250px;

    position: absolute;
    bottom: 5%;
    left: 15%;

    background-image: url("./images/puzzle1.png");

    background-size: 250px 250px;
    background-position: 0% 0%;
    background-repeat: no-repeat;

    transform: rotate(-98deg);
    opacity: 0.5;
  }
}

.decorativeContainer {
  flex: 1;
  position: absolute;
  z-index: -1;
  width: 450px;
  height: 600px;
  top: 10%;
  right: 3%;
}

.decorativeItem {
  width: 200px;
  height: 200px;
  position: absolute;

  background-image: url("./images/shapes.png");
  background-size: 200px 200px;
  background-position: 0% 0%;
  background-repeat: no-repeat;

  rotate: 20deg;
}

.itemOne {
  rotate: 20deg;
  right: 28%;
  top: 7%;
}

.itemTwo {
  width: 130px;
  height: 130px;
  left: 15%;
  top: 40%;
  background-size: 130px 130px;
  rotate: -30deg;
  opacity: 0.9;
}

.itemThree {
  width: 100px;
  height: 100px;
  right: 24%;
  top: 48%;
  background-size: 100px 100px;
  rotate: 50deg;
  opacity: 0.7;
}

.itemFour {
  width: 90px;
  height: 90px;
  right: 48%;
  top: 70%;
  background-size: 90px 90px;
  rotate: 180deg;
  opacity: 0.4;
}

.main {
  width: 70%;
  padding-top: 5%;
  margin-inline: 10%;

  .title {
    font-family: "Saira", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .paragraphContainer {
    padding-top: 10px;
    width: 90%;
    font-size: 1.5rem;
    font-family: "Abel", sans-serif;

    .paragraph {
      line-height: 2;
    }
  }

  .verify {
    span {
      display: inline-block;
      position: relative;
      padding-right: 25px;
    }

    span::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;

      background-image: url("./images/verify.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 1680px) {
  .section {
    &::before {
      bottom: 8%;
      left: 20%;
    }
  }

  .main {
    padding-top: 10%;
    width: 60%;

    .title {
      font-size: 2.2rem;
    }

    .paragraphContainer {
      width: 100%;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .section {
    &::before {
      bottom: 8%;
      left: 23%;
    }
  }

  .main {
    .paragraphContainer {
      font-size: 1.2rem;
      width: 100%;
      .paragraph {
        width: 100%;
      }
    }
  }

  .decorativeContainer {
    width: 320px;
    right: 0;
  }

  .decorativeItem {
    width: 180px;
    height: 180px;
    background-size: 180px 180px;
  }

  .itemOne {
    right: 24%;
  }

  .itemTwo {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    left: 4%;
  }

  .itemThree {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
  }

  .itemFour {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    &::before {
      bottom: 8%;
      left: 35%;
    }
  }

  .main {
    width: 68%;
    .title {
      font-size: 2.2rem;
    }

    .paragraphContainer {
      font-size: 1.1rem;
    }
  }

  .decorativeContainer {
    width: 20%;
    right: 2%;
  }

  .decorativeItem {
    width: 50%;
    height: 50%;
    background-size: 100%;
  }

  .itemOne {
    right: 34%;
  }

  .itemTwo {
    width: 30%;
    height: 30%;
    background-size: 100%;
    left: 20%;
    top: 30%;
  }

  .itemThree {
    width: 25%;
    height: 25%;
    background-size: 100%;
    left: 45%;
    top: 40%;
  }

  .itemFour {
    width: 20%;
    height: 20%;
    background-size: 100%;
    top: 45%;
  }
}

@media screen and (max-width: 768px) {
  .section {
    height: calc(100% - 60.8px);
    &::before {
      bottom: 10%;
      rotate: -20deg;
    }

    &::after {
      bottom: -3%;
      left: -8%;
    }
  }

  .main {
    padding-top: 12%;
    width: 80%;
  }

  .decorativeContainer {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .section {
    &::before {
      bottom: 10%;
      left: 45%;
      width: 200px;
      height: 200px;
      background-size: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .section {
    &::before {
      left: 60%;
    }
  }
}

@media screen and (max-width: 480px) {
  .section {
    height: calc(100% - 60.8px);
    &::after {
      width: 400px;
      height: 400px;

      background-size: 100%;

      bottom: -12%;
      left: -20%;
      opacity: 0.9;
    }

    &::before {
      width: 150px;
      height: 150px;

      bottom: 20%;
      left: 50%;

      rotate: -20deg;
      background-size: 100%;
    }
  }

  .decorativeContainer {
    display: none;
  }

  .main {
    .title {
      font-size: 2rem;
    }

    .paragraphContainer {
      .paragraph {
        line-height: 1.8;
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .section {
    &::after {
      width: 380px;
      height: 380px;

      bottom: -10%;
    }

    &::before {
      width: 120px;
      height: 120px;
      background-size: 100%;
      left: 65%;
      bottom: 25%;
    }
  }
  .main {
    padding-top: 20%;
    .title {
      font-size: 1.7rem;
    }

    .paragraphContainer {
      font-size: 0.9rem;
      text-align: justify;
      .paragraph {
        line-height: 2.1;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .section {
    align-items: center;

    &::after {
      width: 400px;
      height: 400px;

      background-size: 100%;

      bottom: -15%;
      left: -20%;
      opacity: 0.9;
    }

    &::before {
      width: 150px;
      height: 150px;

      bottom: 20%;
      left: 60%;

      rotate: -20deg;
      background-size: 100%;
    }
  }

  .decorativeContainer {
    display: none;
  }

  .main {
    .title {
      font-size: 1.2rem;
    }

    .paragraphContainer {
      .paragraph {
        font-size: 1rem;
        line-height: 1.8;
      }
    }
  }
}
