.section {
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    background-image: url("./images/puzzle1.png");

    background-size: 400px 400px, 300px 300px;
    background-position: -7% 120%, 20% 100%;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    width: 250px;
    height: 250px;

    position: absolute;
    bottom: 5%;
    left: 13%;

    background-image: url("./images/puzzle1.png");

    background-size: 250px 250px;
    background-position: 0% 0%;
    background-repeat: no-repeat;

    transform: rotate(-98deg);
    opacity: 0.5;
  }
}

.decorativeContainer {
  flex: 1;
  position: absolute;
  z-index: -1;
  width: 450px;
  height: 600px;
  top: 10%;
  right: 3%;
}

.decorativeItem {
  width: 200px;
  height: 200px;
  position: absolute;

  background-image: url("./images/shapes.png");
  background-size: 200px 200px;
  background-position: 0% 0%;
  background-repeat: no-repeat;

  rotate: 20deg;
}

.itemOne {
  rotate: 20deg;
  right: 28%;
  top: 7%;
}

.itemTwo {
  width: 130px;
  height: 130px;
  left: 15%;
  top: 40%;
  background-size: 130px 130px;
  rotate: -30deg;
  opacity: 0.9;
}

.itemThree {
  width: 100px;
  height: 100px;
  right: 24%;
  top: 48%;
  background-size: 100px 100px;
  rotate: 50deg;
  opacity: 0.7;
}

.itemFour {
  width: 90px;
  height: 90px;
  right: 48%;
  top: 70%;
  background-size: 90px 90px;
  rotate: 180deg;
  opacity: 0.4;
}

.main {
  padding-top: 170px;
  margin-inline: 70px;

  .title {
    font-family: "Saira", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .paragraphContainer {
    padding-top: 10px;
    max-width: 65%;
    font-size: 1.5rem;
    font-family: "Abel", sans-serif;
  }

  .verify {
    span {
      display: inline-block;
      position: relative;
      padding-right: 25px;
    }

    span::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;

      background-image: url("./images/verify.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 1680px) {
  .section {
    &::before {
      bottom: 8%;
      left: 15%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .section {
    &::before {
      bottom: 8%;
      left: 23%;
    }
  }

  .main {
    .paragraphContainer {
      max-width: 68%;
      font-size: 1.3rem;
    }
  }

  .decorativeContainer {
    width: 320px;
    right: 0;
  }

  .decorativeItem {
    width: 180px;
    height: 180px;
    background-size: 180px 180px;
  }

  .itemOne {
    right: 24%;
  }

  .itemTwo {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    left: 4%;
  }

  .itemThree {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
  }

  .itemFour {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    &::before {
      bottom: 8%;
      left: 30%;
    }
  }

  .main {
    .title {
      font-size: 2.2rem;
    }

    .paragraphContainer {
      max-width: 68%;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    &::before {
      bottom: 3%;
      rotate: -20deg;
    }

    &::after {
      bottom: -3%;
      left: -8%;
    }
  }

  .main {
    .title {
      font-size: 2.2rem;
    }

    .paragraphContainer {
      max-width: 100%;
      font-size: 1.2rem;
    }
  }

  .decorativeContainer {
    width: 100%;
  }

  .decorativeItem {
    width: 110px;
    background-size: 110px 110px;
  }

  .itemOne {
    right: 7%;
    top: 2%;
  }

  .itemTwo {
    width: 70px;
    background-size: 70px 70px;
    left: 4%;
  }

  .itemThree {
    width: 50px;
    top: 53%;
    background-size: 50px 50px;
  }

  .itemFour {
    width: 40px;
    background-size: 40px 40px;
    top: 55%;
    right: 55%;
  }
}
